.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  padding-right: 10px;
  transition: transform 450ms;
  margin-left: 20px;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
}
.row__posters {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster:hover {
  transform: scale(1.1);
}
.row__posterLarge {
  max-height: 250px;
}
.row {
  margin-left: 20px;
  color: white;
}
@media screen and (max-width: 500px) {
  .row {
    margin-left: 10px;
  }
  .row > h2 {
    padding-top: 10px;
    font-size: 10px;
  }
  .row__posterLarge {
    height: 200px;
  }
  .row__poster {
    padding-right: 5px;
    margin-left: 5px;
  }
  .row__posters {
    padding: 10px;
  }
}
